# 1) Perkenalan

- Nama = Dimas Yulius Arifin
- Dataset tersebut di isi dengan Baterai Lithium-Ion, alias merupakan baterai jenis isi ulang.
- Baterai Lithium-Ion untuk saat ini merupakan trend yang populer di bidang industri, contohnya seperti pabrik Tesla yang bersifat mobil listrik dan menggunakan lithium (Lithium mining) di tambangannya.

# 2) Judul / Penanda Soal : Menghitung Kapasitas Baterai dan Rumus Listrik

# 3) Import Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pwd

'/Users/dimas/Documents/data-science'

# 4) Data Loading, Data Exploration

- R adalah Resistan dalam satuan Ohm
- P adalah Daya dalam Watt
- I adalah kuat arus dalam satuan Ampere
- V adalah tegangan dalam satuan Volt

    R = V / I | P = V * I

In [3]:
df = pd.read_excel('NMC1-9.xlsx')
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

# Deskripsi data :

Dari data excel di atas, bisa di konklusikan kalau jenis listrik tersebut merupakan jenis listrik AC (arus bolak balik)

Litrik tersebut merupakan listrik yang bersifat eco-friendly (Renewable energy)

In [4]:
df.describe()

            time(s)           V_m   Current (A)         Cycle           Cap
count  90982.000000  90982.000000  90982.000000  90982.000000  90982.000000
mean   45490.500000      3.607666      0.999264      4.978699      2.806214
std    26264.385433      0.322777      0.001997      2.582135      0.023283
min        0.000000      2.497000      0.993000      1.000000      2.770180
25%    22745.250000      3.422000      0.997000      3.000000      2.786860
50%    45490.500000      3.636000      0.999000      5.000000      2.804878
75%    68235.750000      3.868000      1.001000      7.000000      2.823520
max    90981.000000      4.114000      1.003000      9.000000      2.840817

Bisa di lihat data di atas,

- Untuk Arus listrik(Current), semua nilai tersebut mempunyai nilai di antara 0.9 hingga 1.

- Untuk Cycle tersebut(putaran), mempunyai nilai di antara 1 hingga 9.

# 5) Jawaban

# Keterangan Kolom :

time(s): Detik ke- pengukuran


V_m: Voltage/tegangan yang terukur tiap waktu


Current (A): Kuat arus terukur tiap waktu


Cycle: Nomor siklus charge-discharge baterai


Cap: Kapasitas baterai tiap waktu

Ohm : hambatan listrik

Rumus :

R = V / I

P = V * I

In [5]:
df['Ohm(R)'] = df['V_m'] / df['Current (A)']
df['Watt (P)'] = (df['V_m'] * 2) / df['Ohm(R)']
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap    Ohm(R)  Watt (P)
0        0  4.098        0.997      1  2.840817  4.110331     1.994
1        1  4.096        0.998      1  2.840817  4.104208     1.996
2        2  4.094        0.999      1  2.840817  4.098098     1.998
3        3  4.093        0.998      1  2.840817  4.101202     1.996
4        4  4.092        0.999      1  2.840817  4.096096     1.998

- Di kolom atas, saya membuat kolom baru untuk mencari hambatan listrik, R(Ohm) dan daya listrik, P(Watt).

- Di sini, saya hanya mau melihat nilai yang di atas 0.5

In [6]:
hasil = [] # List kosong untuk di buat menjadi dataframe
for nilai in df['Cycle'] :
    if nilai % 2 == 0 :
        hasil.append("Genap")
    elif nilai % 2 == 1:
        hasil.append("Ganjil")
    else :
        print("Tidak ada")

df['Hasil'] = hasil
data = df

# Cycle yang ganjil :

In [7]:
kapganjil = data[data['Hasil']=='Ganjil']
kapganjil

,time(s),V_m,Current (A),Cycle,Cap,Ohm(R),Watt (P),Hasil
0,0,4.098,0.997,1,2.840817,4.110331,1.994,Ganjil
1,1,4.096,0.998,1,2.840817,4.104208,1.996,Ganjil
2,2,4.094,0.999,1,2.840817,4.098098,1.998,Ganjil
3,3,4.093,0.998,1,2.840817,4.101202,1.996,Ganjil
4,4,4.092,0.999,1,2.840817,4.096096,1.998,Ganjil
...,...,...,...,...,...,...,...,...
90977,90977,2.506,1.002,9,2.770180,2.500998,2.004,Ganjil
90978,90978,2.504,1.002,9,2.770180,2.499002,2.004,Ganjil
90979,90979,2.502,1.002,9,2.770180,2.497006,2.004,Ganjil
90980,90980,2.500,1.002,9,2.770180,2.495010,2.004,Ganjil
90981,90981,2.497,1.002,9,2.770180,2.492016,2.004,Ganjil

# 6) Hasil, Data Akhir :

- Untuk kapasitas baterai dengan cycle ganjil

Data yang meghitung kapasitas baterai merupakan Watt (P)

Rumus nya sama ((E = V * I) == (P = V * I))

Data keseluruhan
index tersebut saya buat waktu dengan hitungan sekon / time(s)

In [9]:
data.index.name = 'time(s)'
data

,time(s),V_m,Current (A),Cycle,Cap,Ohm(R),Watt (P),Hasil
time(s),,,,,,,,
0,0,4.098,0.997,1,2.840817,4.110331,1.994,Ganjil
1,1,4.096,0.998,1,2.840817,4.104208,1.996,Ganjil
2,2,4.094,0.999,1,2.840817,4.098098,1.998,Ganjil
3,3,4.093,0.998,1,2.840817,4.101202,1.996,Ganjil
4,4,4.092,0.999,1,2.840817,4.096096,1.998,Ganjil
...,...,...,...,...,...,...,...,...
90977,90977,2.506,1.002,9,2.770180,2.500998,2.004,Ganjil
90978,90978,2.504,1.002,9,2.770180,2.499002,2.004,Ganjil
90979,90979,2.502,1.002,9,2.770180,2.497006,2.004,Ganjil
90980,90980,2.500,1.002,9,2.770180,2.495010,2.004,Ganjil
90981,90981,2.497,1.002,9,2.770180,2.492016,2.004,Ganjil